pkgbase = vendir-bin
	pkgdesc = Easy way to vendor portions of git repos, github releases, etc. declaratively
	pkgver = 0.32.0
	pkgrel = 1
	url = https://github.com/k14s/vendir
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = vendir
	conflicts = vendir
	source = vendir-linux-amd64-v0.32.0::https://github.com/k14s/vendir/releases/download/v0.32.0/vendir-linux-amd64
	sha256sums = 0b52c170f4a30c2b6213ff0048ecc89c9c25c3e4da56eb1e095fcdb335bd82ed

pkgname = vendir-bin
