pkgbase = vendir-bin
	pkgdesc = Easy way to vendor portions of git repos, github releases, etc. declaratively
	pkgver = 0.35.0
	pkgrel = 1
	url = https://github.com/k14s/vendir
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = vendir
	conflicts = vendir
	source = vendir-linux-amd64-v0.35.0::https://github.com/k14s/vendir/releases/download/v0.35.0/vendir-linux-amd64
	sha256sums = d9109fb8f07bedab820b60e4789a2b183857073fa392cd603b9cabeac795ba04

pkgname = vendir-bin
