pkgbase = vendir-bin
	pkgdesc = Easy way to vendor portions of git repos, github releases, etc. declaratively
	pkgver = 0.34.5
	pkgrel = 1
	url = https://github.com/k14s/vendir
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = vendir
	conflicts = vendir
	source = vendir-linux-amd64-v0.34.5::https://github.com/k14s/vendir/releases/download/v0.34.5/vendir-linux-amd64
	sha256sums = 6bc89c12248f87e6c466355990f1b9cdbdddc0c04fa4c652ce2498dd90678ffc

pkgname = vendir-bin
