pkgbase = kbld-bin
	pkgdesc = kbld seamlessly incorporates image building and image pushing into your development and deployment workflows
	pkgver = 0.34.0
	pkgrel = 1
	url = https://get-kbld.io/
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = kbld
	conflicts = kbld
	source = kbld-linux-amd64-v0.34.0::https://github.com/k14s/kbld/releases/download/v0.34.0/kbld-linux-amd64
	sha256sums = 67c86ece94a3747b2e011a5b72044b69f2594ca807621b1e1e4c805f6abcaeef

pkgname = kbld-bin
