pkgbase = kbld-bin
	pkgdesc = kbld seamlessly incorporates image building and image pushing into your development and deployment workflows
	pkgver = 0.35.0
	pkgrel = 1
	url = https://get-kbld.io/
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = kbld
	conflicts = kbld
	source = kbld-linux-amd64-v0.35.0::https://github.com/k14s/kbld/releases/download/v0.35.0/kbld-linux-amd64
	sha256sums = 1c3f0e4171063eef70cdabf1730d3557af992aeafb423755e71e9d5f1aea2c9b

pkgname = kbld-bin
