pkgbase = kapp-bin
	pkgdesc = kapp is a simple deployment tool focused on the concept of 'Kubernetes application' — a set of resources with the same label
	pkgver = 0.39.0
	pkgrel = 1
	url = https://get-kapp.io/
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = kapp
	conflicts = kapp
	source = kapp-linux-amd64-v0.39.0::https://github.com/k14s/kapp/releases/download/v0.39.0/kapp-linux-amd64
	sha256sums = 2120a627a867e04840d6e0e473097894a3b74b54b62f231b8df3f8670c4e80a3

pkgname = kapp-bin
