pkgbase = ytt-bin
	pkgdesc = ytt is a templating tool that understands YAML structure allowing you to focus on your data instead of how to properly escape it
	pkgver = 0.36.0
	pkgrel = 1
	url = https://get-ytt.io/
	arch = x86_64
	groups = k14s-bin
	license = apache
	provides = ytt
	conflicts = ytt
	source = ytt-linux-amd64-v0.36.0::https://github.com/k14s/ytt/releases/download/v0.36.0/ytt-linux-amd64
	sha256sums = d81ecf6c47209f6ac527e503a6fd85e999c3c2f8369e972794047bddc7e5fbe2

pkgname = ytt-bin
